body{
    text-align: center;
    font-family:cursive;
    background-color: aqua;
    font-size:16px;

}
header {
    display: flex;
    padding: 20px;
    background-color: bisque;
    color: black;
    height: 60px;
    border-radius: 8px;
}

header img {
    width: auto;
    height: 70px;
    flex: left;
    border-radius: 50px;
}
.form-container{
    max-width:500px;
    margin: 40px  auto;
    padding:30px;
    background-color:goldenrod ;
    border-radius:10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size:16px;
}
form label{
    margin-top:10px;
    color:black;
    font-size:16px;
}
form input{
    width:50%;
    padding:10px;
    margin-bottom:20px;
    border:1px solid wheat;
    border-radius:5px;
    font-size:16px;
}
form button{
    width:30%;
    padding:10px;
    background-color: rgb(117, 117, 245);
    color:black;
    font-size:16px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    align-self: center;
    
}
form button:hover{
    background-color: bisque;
}
ul{
    text-align: left;
    font-size:16px;
}